:root {
  --light-yellow: #f8f6df;
  --light-yellow-30: #f8f6df55;
  --light-yellow-50: #f8f6df88;
  --light-yellow-80: #f8f6dfcc;
  --dark-blue: #096ea8;
  --blue: #41b1f1;
  --blue-50: #41b1f188;
  --blue-70: #41b1f1bb;
  --light-blue: #dff0fa;
  --light-blue-20: #dff0fa33;
  --light-blue-30: #dff0fa55;
  --light-blue-50: #dff0fa88;
  --light-blue-80: #dff0facc;
  --white-50: #fff8;
  --white-20: #fff3;
  --black-50: #0008;
  --black-30: #0004;
  --black-20: #0003;
  --black-10: #0002;
}
